/* Add home page CSS here */

body {
    /* width: 50%; */
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    background: lightblue;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    margin: 0.2em;
}

h2 {
    font-size: 30px;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.homepageImages {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    /* padding: 20px; */
    margin: 0;
    list-style-type: none;
    /* font-size: 20px; */
}

/* https://www.w3schools.com/csS/css3_buttons.asp */
button {
  font-size: 14px;
  border-radius: 8px;
  padding: 10px 6px;
  -webkit-transition-duration: 0.01s; /* Safari */
  transition-duration: 0.01s;
  cursor:pointer;
  background-color: white;
  color: black;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
